<mat-toolbar color="primary">
	ng-gallery v1.0.1
</mat-toolbar>
<div class="basic-container">
	<p>
		<button mat-button (click)="gallery.open()">Open Gallery</button>
	</p>
	<p class="container" gallerize>
		<img src="https://preview.ibb.co/jrsA6R/img12.jpg" alt="img12" border="0">
		<img src="https://preview.ibb.co/kPE1D6/clouds.jpg" alt="clouds" border="0">
		<img src="https://preview.ibb.co/mwsA6R/img7.jpg" alt="img7" border="0">
		<img src="https://preview.ibb.co/kZGsLm/img8.jpg" alt="img8" border="0">
	</p>
	<span class="version-info">Current build: {{version.full}}</span>
</div>
